*.egg-info
__pycache__
*.pyc
*.pyo
*.ipynb_checkpoints
*.log
*.swp

venv/
venv_*/
slurm-*.out

*.nc
*.zarr
*.pkl
*.png
*.gif
*.pt

draft/
*.draft.*
draft.*
*.draft
drafts.*

wandb/
assets/
cache/


.DS_Store
*.DS_Store
